*

!public/
!public/**

!src/
!src/**

!.vscode/
!.vscode/**

!Dockerfile
!README.md
!.gitignore
!eslint.config.js
!.prettierrc
!index.html

!package.json
!pnpm-lock.yaml

!components.json
!vite.config.ts
!tsconfig.app.json
!tsconfig.json
!tsconfig.node.json
